<?xml version="1.0" encoding="UTF-8" standalone="no"?><viewsettings>
    <scheme name="custom_1">
        <opengl antialiase="0" dither="0"/>
        <background backgroundColor="white" gridXSize="100.00" gridYSize="100.00" showGrid="0"/>
        <edges edgeName_color="255,128,0" edgeName_show="0" edgeName_size="50.00" hideConnectors="0" internalEdgeName_color="128,64,0" internalEdgeName_show="0" internalEdgeName_size="40.00" laneEdgeMode="0" laneShowBorders="0" showLinkDecals="1" showRails="1" streetName_color="yellow" streetName_show="0" streetName_size="55.00">
            <colorScheme name="uniform">
                <entry color="black"/>
            </colorScheme>
            <colorScheme name="by selection (lane-/streetwise)">
                <entry color="179,179,179" name="unselected"/>
                <entry color="0,102,204" name="selected"/>
            </colorScheme>
            <colorScheme name="by vclass">
                <entry color="black" name="all"/>
                <entry color="0,26,128" name="public"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by allowed speed (lanewise)">
                <entry color="red" threshold="0.00"/>
                <entry color="blue" threshold="41.67"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by current occupancy (lanewise)">
                <entry color="blue" threshold="0.00"/>
                <entry color="red" threshold="0.95"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by first vehicle waiting time (lanewise)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="200.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by lane number (streetwise)">
                <entry color="red" threshold="0.00"/>
                <entry color="blue" threshold="5.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by CO2 emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.27"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by CO emissions (HBEFA)">
                <entry color="red" threshold="0.00"/>
                <entry color="green" threshold="0.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by PMx emissions (HBEFA)">
                <entry color="red" threshold="0.00"/>
                <entry color="green" threshold="0.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by NOx emissions (HBEFA)">
                <entry color="red" threshold="0.00"/>
                <entry color="green" threshold="0.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by HC emissions (HBEFA)">
                <entry color="red" threshold="0.00"/>
                <entry color="green" threshold="0.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by fuel consumption (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.07"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by noise emissions (Harmonoise)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="100.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by global travel time">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="100.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by global speed percentage">
                <entry color="red" threshold="0.00"/>
                <entry color="yellow" threshold="50.00"/>
                <entry color="green" threshold="100.00"/>
            </colorScheme>
        </edges>
        <vehicles minVehicleSize="1.00" showBlinker="1" vehicleExaggeration="1.00" vehicleMode="8" vehicleName_color="247,237,0" vehicleName_show="0" vehicleName_size="50.00" vehicleQuality="2">
            <colorScheme name="given vehicle/type/route color">
                <entry color="255,227,0"/>
            </colorScheme>
            <colorScheme name="uniform">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="given/assigned vehicle color">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="given/assigned type color">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="given/assigned route color">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="depart position as HSV">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="arrival position as HSV">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme name="direction/distance as HSV">
                <entry color="yellow"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by speed">
                <entry color="red" threshold="0.00"/>
                <entry color="255,252,0" threshold="3.00"/>
                <entry color="42,255,0" threshold="10.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by waiting time">
                <entry color="blue" threshold="0.00"/>
                <entry color="red" threshold="300.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by time since last lanechange">
                <entry color="white" threshold="0.00"/>
                <entry color="grey" threshold="300.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by max speed">
                <entry color="red" threshold="0.00"/>
                <entry color="blue" threshold="41.67"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by CO2 emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="5.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by CO emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.05"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by PMx emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.01"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by NOx emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.13"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by HC emissions (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.02"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by fuel consumption (HBEFA)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="0.01"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by noise emissions (Harmonoise)">
                <entry color="green" threshold="0.00"/>
                <entry color="red" threshold="100.00"/>
            </colorScheme>
            <colorScheme interpolated="1" name="by reroute number">
                <entry color="red" threshold="0.00"/>
                <entry color="yellow" threshold="1.00"/>
                <entry color="white" threshold="10.00"/>
            </colorScheme>
        </vehicles>
        <junctions drawLinkJunctionIndex="0" drawLinkTLIndex="0" internalJunctionName_color="0,204,128" internalJunctionName_show="0" internalJunctionName_size="50.00" junctionMode="0" junctionName_color="0,255,128" junctionName_show="0" junctionName_size="50.00" showLane2Lane="0">
            <colorScheme name="uniform">
                <entry color="black"/>
            </colorScheme>
            <colorScheme name="by selection">
                <entry color="179,179,179" name="unselected"/>
                <entry color="0,102,204" name="selected"/>
            </colorScheme>
        </junctions>
        <additionals addExaggeration="1.00" addMode="0" addName_color="255,0,128" addName_show="0" addName_size="50.00" minAddSize="1.00"/>
        <pois minPOISize="0.00" poiExaggeration="1.00" poiName_color="255,0,128" poiName_show="0" poiName_size="50.00"/>
        <polys minPolySize="0.00" polyExaggeration="1.00" polyName_color="255,0,128" polyName_show="0" polyName_size="50.00"/>
        <legend showSizeLegend="1"/>
    </scheme>
<delay value="500"/></viewsettings>